<ion-header>
  <!--  [translucent]="true" -->
  <ion-toolbar color="primary">
    <ion-title size="small">
      <img src="../../assets/imgs/terminados.jpg" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <app-listas [terminada]="true"></app-listas>
    <!-- <ion-list>
      <ion-item
        *ngFor="let lista of deseosService.listas | filtroCompletado : true"
        (click)="listaSeleccionada(lista)"
      >
        <ion-label>{{lista.titulo}} </ion-label>
      </ion-item>
    </ion-list> -->
  </ion-toolbar>

  <!-- <app-explore-container name="Terminados page"></app-explore-container> -->
</ion-content>
